<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taewon.dolphin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_dolphins"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icon_dolphins"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dolphin"
        android:usesCleartextTraffic="true">
        <!-- activity 추가해주세요. -->
        <activity android:name=".ActivityStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityRegister" />
        <activity android:name=".ActivityMain" />
        <activity android:name=".ActivityFreeBoard" />
        <activity android:name=".ActivityFreeBoardViewer" />
        <activity android:name=".ActivityFreeBoardWriting" />
        <activity android:name=".ActivityMyPage" />
        <activity android:name=".ActivityNfc" />
        <activity android:name=".ActivityUndefined"/>
        <activity android:name=".ActivityWeather" />
        <activity android:name=".ActivityDiet" />
        <activity android:name=".ActivitySchoolNotice" />
        <activity android:name=".ActivityContact"/>
    </application>
</manifest>